<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <h3 class="bg-primary text-white p-3">
                {{getName()}}' List
            </h3>
            <div class="input-group mb-3">
                <input #txtItem type="text" class="form-control" [(ngModel)]="inputText" (keyup.enter)="addItem();">
                <button [class]="getBtnClasses()" class="btn" (click)="addItem();txtItem.value=''">Add</button>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" [(ngModel)]="displayAll" class="form-check-input" name="" id="displayAll">
                <label for="displayAll" class="form-check-label">Hepsini göster</label>
            </div>

            <div class="my-2">
                {{ displayCount() }} / <b>{{ displayCountTodo()}}</b> Görev Tamamlandı.
            </div>

            <div class="alert alert-success" *ngIf="getItems().length == 0 else itemsTable">
                Tüm görevler Tamamlandı.
            </div>
            <ng-template #itemsTable>
                <table class="table tab" *ngIf="getItems().length > 0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of getItems();let i=index;" [class]="
                            {
                            'font-weight-bold':item.action,
                            'text-capitalize':item.action,
                            'text-white':item.action,
                            'bg-success':item.action, 
                            'bg-secondary':!item.action
                        }
                            
                            ">

                            <td>{{i+1}}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <!-- if-bloğu -->
                                <!-- <div *ngIf="item.action">Yes</div>
                                <div *ngIf="!item.action">No</div> -->

                                <!-- switch-bloğu -->
                                <!-- <div [ngSwitch]="item.action">
                                    <div *ngSwitchCase="true">Yes</div>
                                    <div *ngSwitchDefault>No</div>
                                </div> -->

                                <!-- if-else bloğu
                                <div *ngIf="item.action; else noTemplate">
                                    Yes
                                </div>

                                <ng-template #noTemplate>
                                    No
                                </ng-template> -->

                                <!-- if-then bloğu -->

                                <!-- true ise gösterilecek bir şey yok, eğer false ise noTemplate çalışır -->
                                <!-- <div *ngIf="item.action; then noTemplate">
                                    Burası gösterilmez..
                                </div>

                                <ng-template #noTemplate>
                                    No
                                </ng-template> -->

                                <!-- if-then else -->

                                <div *ngIf="item.action; then yesTemplate else noTemplate">
                                    Burası gösterilmez..
                                </div>

                                <ng-template #noTemplate>
                                    No
                                </ng-template>

                                <ng-template #yesTemplate>
                                    Yes
                                </ng-template>


                            </td>
                            <td>
                                <input type="checkbox" (change)="onActionChanged(item)" [(ngModel)]="item.action"
                                    name="" id="">

                            </td>
                        </tr>
                    </tbody>

                </table>
            </ng-template>



        </div>
    </div>
</div>